// Enable hibernation for active local users.
// Overrides the Ubuntu default disable rule in /usr/share/polkit-1/rules.d/com.ubuntu.desktop.rules
polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.upower.hibernate" ||
         action.id == "org.freedesktop.login1.hibernate" ||
         action.id == "org.freedesktop.login1.handle-hibernate-key" ||
         action.id == "org.freedesktop.login1.hibernate-multiple-sessions") &&
        subject.active == true && subject.local == true) {
            return polkit.Result.YES;
    }
});
